/* Default Styles */

* {
    background: lightyellow;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

/* Home Page */

a {
    text-decoration: lightcoral wavy underline;
    color: dodgerblue;
}

.main-title {
    color: dodgerblue;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    text-decoration: lightcoral wavy underline;
    
}

.home-image {
    border-radius: 10px;
}

.main-list {
    font-size: 28px;
    
}

.page {
    margin: 30px auto;
    border: 2px dashed dodgerblue;
    padding: 10px;
    padding-left: 30px;
    border-radius: 10px;
}

.home-image {
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    display: block;
}

/* Recipes */

.image {
    height: 300px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: block;
}

.recipe-title {
    font-size: 36px;
    text-align: center;
}

p {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-style: italic;
    text-align: center;
    font-size: 18px;
    
}

.ingredients,
.steps {
    font-size: 28px;
    color: dodgerblue;
    text-decoration: lightcoral wavy underline;
}

.list-item {
    font-size: 18px;

}
